language: php
notifications:
  email: false
php:
  - 5.6
  - 7.0
  - 7.1
script:
  - ./script/build
deploy:
  skip_cleanup: true
  provider: s3
  access_key_id: "YOUR AWS ACCESS KEY"
  secret_access_key: "YOUR AWS SECRET KEY"
  bucket: "plugins.jjgrainger.co.uk"
  region: "us-west-2"
  local_dir: "build"
