language: php
notifications:
  email: false
php:
- 5.6
- 7.0
- 7.1
before_script:
- composer install
script:
- "./script/build"
deploy:
  provider: s3
  access_key_id: AKIAIJTJLAFQMZFNTA4A
  secret_access_key:
    secure: gNBP7J+UU7VGGsvZWZxMbRDcIMgScxnK0jZkYHODXB6IVRdFyrajtmAMeyXjry8hvXDJFg5zKruNNQrLAgQTKOZ7uIfT64sopvLxdIvUmpoiCAwhclSy5i+t+9zkCcGVIEr4Rp+dHM5/h60vj2MOF0ah+9eCqnI0df3pGD3W7RqCLDW6EaGwrWJripNCT3Jmj8J+bSXxbVtYbghkl/B564NgCDYkfAhAXazgZ1z5dIrAlyEznhqhDZGF+zO45dN9fWs9diqPM9TKPPMMgvlVvMjx+o9ZxIdgoev7zmCgW5FaLPW2OqCnydsN7XIZxx91/ocNTpzBKeYJk2X7EFIxAElq1i+Ws3HJjiVYvly4qBnTXVymxw+Fi8TXcBiM6y8Ozz+LixeCIQZt2OUfANxkk1gVv/PaUtdPajJ8v4I5/LmMxMKzdj2kwBnK05uSnYOx0buuBiO8dpn/uPnlC/Vd5KjDR/rmod+/tVVYIC4zXM216xcpjXasSibTglQ5nF6Xr5h+MMqNkOtdJA3LDJynpg7FEkC+Cfx5msy2Aew0XEH6f/6haf4w/HOplScZoI5HH5uSK79RPPnQ/CkfuapycnWZFyNEtnLHKEcNV/X3LoLoj6XK4aFZFAugnR3tVbpxPCbwCchhMIja3TtLA4u20HDIUNO5x9PbDhioL5FfP+E=
  bucket: plugins.jjgrainger.co.uk
  local_dir: build
  acl: 'public_read'
  region: us-west-2
  on:
    repo: jjgrainger/test-plugin
